<!--The content below is only a placeholder and can be replaced.-->
<app-menu>


</app-menu>
<div class="flex">

  <mat-toolbar color="primary">
    <button mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span>My Application</span>
  </mat-toolbar>
  <mat-drawer-container class="parent" [hasBackdrop]="true">
    <mat-drawer #drawer mode="side" class="sidebar">

      <mat-list role="list">
<!--        <mat-list-item role="listitem"><li class="active"><a routerLink="/Principal">Ir a inicio</a></li></mat-list-item>-->
        <mat-list-item role="listitem" routerLink="/Principal"><mat-icon>home</mat-icon><span class="menu-item">Inicio</span></mat-list-item>
        <mat-list-item role="listitem" routerLink="/Juegos"><mat-icon>casino</mat-icon><span class="menu-item">Juegos</span></mat-list-item>
<!--        <mat-list-item role="listitem">Item 3</mat-list-item>-->
      </mat-list>
    </mat-drawer>
      <router-outlet></router-outlet>
  </mat-drawer-container>
</div>


