<h2 mat-dialog-title>Registro</h2>

<mat-dialog-content >

<!--  <mat-grid-list cols="1" rowHeight="2:1">-->
<!--    <mat-grid-tile>-->
  <p>
      <mat-form-field appearance="legacy">
        <mat-label>Email:</mat-label>
        <input matInput [(ngModel)]="data.email" placeholder="Ingrese su email">
      </mat-form-field>
  </p>
<!--    </mat-grid-tile>-->
<!--    <mat-grid-tile>-->
  <p>
      <mat-form-field appearance="standard">
        <mat-label>Password:</mat-label>
        <input matInput [(ngModel)]="data.password" placeholder="Ingrese su contraseña" type="password">
      </mat-form-field>
  </p>
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="dialogRef.close(false)">Close</button>
  <button mat-raised-button color="primary" (click)="dialogRef.close({shouldSave: true,email: data.email,password: data.password})">Registrarse</button>
</mat-dialog-actions>
