<button type="button" id="jugar" (click)='jugar()'>Jugar</button>
<button type="button" id="jugarnuevamente" style="display:none" (click)='jugar()'>Jugar nuevamente</button>

<div id="bg">
</div>
<div id="memotest" style="display:none;">
  <table border="0">
    <tr>
      <td><button [disabled]='disabled["0"]' disabled (click)='imgcheck(0)'><img src="assets/imagenes/memotest/bg.png" id="0" /></button></td>
      <td><button [disabled]='disabled["1"]' disabled (click)='imgcheck(1)'><img src="assets/imagenes/memotest/bg.png" id="1" /></button></td>
      <td><button [disabled]='disabled["2"]' disabled (click)='imgcheck(2)'><img src="assets/imagenes/memotest/bg.png" id="2" /></button></td>
      <td><button [disabled]='disabled["3"]' disabled (click)='imgcheck(3)'><img src="assets/imagenes/memotest/bg.png" id="3" /></button></td>
      <td><button [disabled]='disabled["4"]' disabled (click)='imgcheck(4)'><img src="assets/imagenes/memotest/bg.png" id="4" /></button></td>
      <td><button [disabled]='disabled["5"]' disabled (click)='imgcheck(5)'><img src="assets/imagenes/memotest/bg.png" id="5" /></button></td>
      <td><button [disabled]='disabled["6"]' disabled (click)='imgcheck(6)'><img src="assets/imagenes/memotest/bg.png" id="6" /></button></td>
      <td><button [disabled]='disabled["7"]' disabled (click)='imgcheck(7)'><img src="assets/imagenes/memotest/bg.png" id="7" /></button></td>
      <td><button [disabled]='disabled["8"]' disabled (click)='imgcheck(8)'><img src="assets/imagenes/memotest/bg.png" id="8" /></button></td>
    </tr>
    <tr>
      <td><button [disabled]='disabled["9"]' disabled (click)='imgcheck(9)'><img src="assets/imagenes/memotest/bg.png"   id="9" /></button></td>
      <td><button [disabled]='disabled["10"]' disabled (click)='imgcheck(10)'><img src="assets/imagenes/memotest/bg.png" id="10" /></button></td>
      <td><button [disabled]='disabled["11"]' disabled (click)='imgcheck(11)'><img src="assets/imagenes/memotest/bg.png" id="11" /></button></td>
      <td><button [disabled]='disabled["12"]' disabled (click)='imgcheck(12)'><img src="assets/imagenes/memotest/bg.png" id="12" /></button></td>
      <td><button [disabled]='disabled["13"]' disabled (click)='imgcheck(13)'><img src="assets/imagenes/memotest/bg.png" id="13" /></button></td>
      <td><button [disabled]='disabled["14"]' disabled (click)='imgcheck(14)'><img src="assets/imagenes/memotest/bg.png" id="14" /></button></td>
      <td><button [disabled]='disabled["15"]' disabled (click)='imgcheck(15)'><img src="assets/imagenes/memotest/bg.png" id="15" /></button></td>
      <td><button [disabled]='disabled["16"]' disabled (click)='imgcheck(16)'><img src="assets/imagenes/memotest/bg.png" id="16" /></button></td>
      <td><button [disabled]='disabled["17"]' disabled (click)='imgcheck(17)'><img src="assets/imagenes/memotest/bg.png" id="17" /></button></td>
    </tr>
    <tr>
      <td><button [disabled]='disabled["18"]' disabled (click)='imgcheck(18)'><img src="assets/imagenes/memotest/bg.png" id="18" /></button></td>
      <td><button [disabled]='disabled["19"]' disabled (click)='imgcheck(19)'><img src="assets/imagenes/memotest/bg.png" id="19" /></button></td>
      <td><button [disabled]='disabled["20"]' disabled (click)='imgcheck(20)'><img src="assets/imagenes/memotest/bg.png" id="20" /></button></td>
      <td><button [disabled]='disabled["21"]' disabled (click)='imgcheck(21)'><img src="assets/imagenes/memotest/bg.png" id="21" /></button></td>
      <td><button [disabled]='disabled["22"]' disabled (click)='imgcheck(22)'><img src="assets/imagenes/memotest/bg.png" id="22" /></button></td>
      <td><button [disabled]='disabled["23"]' disabled (click)='imgcheck(23)'><img src="assets/imagenes/memotest/bg.png" id="23" /></button></td>
      <td><button [disabled]='disabled["24"]' disabled (click)='imgcheck(24)'><img src="assets/imagenes/memotest/bg.png" id="24" /></button></td>
      <td><button [disabled]='disabled["25"]' disabled (click)='imgcheck(25)'><img src="assets/imagenes/memotest/bg.png" id="25" /></button></td>
      <td><button [disabled]='disabled["26"]' disabled (click)='imgcheck(26)'><img src="assets/imagenes/memotest/bg.png" id="26" /></button></td>
    </tr>
    <tr>
      <td><button [disabled]='disabled["27"]' disabled (click)='imgcheck(27)'><img src="assets/imagenes/memotest/bg.png" id="27" /></button></td>
      <td><button [disabled]='disabled["28"]' disabled (click)='imgcheck(28)'><img src="assets/imagenes/memotest/bg.png" id="28" /></button></td>
      <td><button [disabled]='disabled["29"]' disabled (click)='imgcheck(29)'><img src="assets/imagenes/memotest/bg.png" id="29" /></button></td>
      <td><button [disabled]='disabled["30"]' disabled (click)='imgcheck(30)'><img src="assets/imagenes/memotest/bg.png" id="30" /></button></td>
      <td><button [disabled]='disabled["31"]' disabled (click)='imgcheck(31)'><img src="assets/imagenes/memotest/bg.png" id="31" /></button></td>
      <td><button [disabled]='disabled["32"]' disabled (click)='imgcheck(32)'><img src="assets/imagenes/memotest/bg.png" id="32" /></button></td>
      <td><button [disabled]='disabled["33"]' disabled (click)='imgcheck(33)'><img src="assets/imagenes/memotest/bg.png" id="33" /></button></td>
      <td><button [disabled]='disabled["34"]' disabled (click)='imgcheck(34)'><img src="assets/imagenes/memotest/bg.png" id="34" /></button></td>
      <td><button [disabled]='disabled["35"]' disabled (click)='imgcheck(35)'><img src="assets/imagenes/memotest/bg.png" id="35" /></button></td>
    </tr>

  </table>
  <div id="anotador">
    <div id="jugador1">Jugador 1: <span id="j1">0</span></div>
    <div id="jugador2">Jugador 2: <span id="j2">0</span></div>
  </div>
</div>
