<h2 mat-dialog-title>Ingrese su mail</h2>

<mat-dialog-content >
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Email:</mat-label>
      <input matInput [(ngModel)]="email" placeholder="Ingrese su email">
    </mat-form-field>
  </p>



</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="dialogRef.close(false)">Close</button>
  <button mat-raised-button color="primary" (click)="dialogRef.close(email)">Enviar Mail</button>
</mat-dialog-actions>
