<div *ngIf="loadingSpinner">
  <app-spinner overlay="true">
  </app-spinner>
</div>
<mat-grid-list cols="3" rowHeight="3:1" [gutterSize]="'0px'">
  <div *ngFor="let tile of game.board; index as i" >
    <mat-grid-tile (click)="onTileClick(i)"><mat-icon class="mat-icon-tic-tac-toe" aria-hidden="false" aria-label="Example home icon">{{tile}}</mat-icon></mat-grid-tile>
  </div>
</mat-grid-list>

<!--<table id="board">-->
<!--  <tr>-->
<!--    <td (click)="onTileClick(0)">-->
<!--      <mat-icon aria-hidden="false">{{game.board[0]}}</mat-icon>-->
<!--    </td>-->f
<!--    <td>-->
<!--      <mat-icon aria-hidden="false">{{game.board[1]}}</mat-icon>-->
<!--    </td>-->
<!--    <td>-->
<!--      <mat-icon aria-hidden="false">{{game.board[2]}}</mat-icon>-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--  </tr>-->
<!--</table>-->
<!--<app-menu></app-menu>-->
<!--<h2>Hola mundo</h2>-->
<!--<h2>Hola mundo</h2>-->
<!--<h2>Hola mundo</h2>-->
<!--<h2>Hola mundo</h2>-->
<!--<h2>Hola mundo</h2>-->
<!--<h2>Hola mundo</h2>-->
<!--<h2>Hola mundo</h2>-->
<!--<h2>Hola mundo</h2>-->
<!--<h2>Hola mundo</h2>-->
